body {
    background-color: rgba(255, 250, 205, 0.521);
}

#lista {
    position: absolute;
    width: 500px;
    left: calc( 50% - 250px);
}

#btnAgr {
    position: absolute;
    background-color: rgb(246, 219, 167);
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 10px;
    left: calc( 50% - 100px);
    color: black;
}

#btnAgr:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#btnAgr:active {
    color: rgb(110, 3, 3);
}

table thead th {
    border: solid 2px;
    background-color: wheat;
}

table tbody td {
    border: solid 2px;
}