* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    /*abarca el 100%*/
}

header nav {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: rgb(148, 217, 219);
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
    float: left;
}

header nav ul li a:hover {
    background-color: rgb(0, 133, 139);
    color: black;
}

section {
    padding: 20px;
}

@media screen and (max-width:800px) {
    header nav {
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
    }
}


/* header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid;
} */

.menu {
    display: block;
    width: 100%;
    background: rgb(148, 217, 219);
}

.menu .bt-menu {
    display: block;
    padding: 20px;
    background: rgb(148, 217, 219);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu span {
    font-size: 30px;
}