* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    position: relative;
    margin: 2% auto;
    width: 1300px;
    height: 120px;
    background:chartreuse;
}
#menu {
    top: 42px;
   left: 3%;
}
#logo {
    position: absolute;
    top: 30px;
    left: 10%;
    width: 200px;
    height: 60px;
    background:white;
}
#buscador{
    position: absolute;
    top: calc(50% - 15px) ;
    left: calc( 60% - 200px);
    width: 400px;
    height: 30px;
    background:white;
    text-align: center;
} 

.acceso {
    position: absolute;
    width: 42px;
    height: 42px;
    background:white;
    border-radius: 100%;
}

#icono1 {
    top: 42px;
    right: 120px;
}

#icono2 {
    top: 42px;
    right: 71px;
}

#icono3 {
    top: 42px;
    right: 19px;
}
aside#Izq {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 453px;
    background: #000000;
}

aside#Der {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 453px;
    background: #000000;
}

section {
    position: relative;
    margin: 5px auto;
    width: 1300px;
    height: 453px;
    background: transparent;
    
}
#nombInstru{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    position: absolute;
    color: black;
    top: 0px;
    left: calc(50% - 100px);
}
footer {
    position: relative;
    margin: auto;
    width: 1300px;
    height: 70px;
    background:yellowgreen;
}