body {
    background-color: blanchedalmond;
}

a {
    text-decoration: none;
}

table {
    border: solid 1px;
}

table th td {
    border: solid 2px black;
    border-collapse: collapse;
}

table th td {
    padding: 10px;
}