* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    /*abarca el 100%*/
}

header nav {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: rgb(243, 219, 167);
    position: absolute;
    left: 130px;
    top: -23px;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: black;
    padding: 20px;
    display: block;
    text-decoration: none;
    float: left;
}

header nav ul li a:hover {
    background-color: rgb(95, 91, 49);
    color: white;
}

section {
    padding: 20px;
}

@media screen and (max-width:800px) {
    header nav {
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
    }
}


/* header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid;
} */

.menu {
    display: block;
    width: 100%;
    background: rgb(243, 219, 167);
}

.menu .bt-menu {
    display: block;
    padding: 34.5px;
    background: rgb(243, 219, 167);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu span {
    font-size: 30px;
}

.imagenl {
    position: absolute;
    top: 0px;
    left: -140px;
}

.busc input {
    position: absolute;
    top: 29px;
    left: 780px;
    width: 270px;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
}

.login a {
    position: absolute;
    top: 18px;
    left: 1250px;
    width: 270px;
    text-decoration: none;
    color: black;
}

.login a:hover {
    text-decoration: underline;
}

.login a:active {
    text-decoration: underline;
    color: blueviolet;
}